<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/">
      <label for="day">Day</label>
      <select id="day" name="day" onchange="setSize(this.value)">  
        <option value="monday" >monday</option>  
        <option value="tuesday" selected="">tuesday</option>   
      </select>
    </form>

    <div id="divRest"></div><br>
    <button id="btnRest">Get Listing</button><br><br>

    <script src="/javascripts/script.js"></script>
  </body>
</html>
