body {
  padding: 50px;
  font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(39, 39, 214);
}

a {
  color: #00B7FF;
}

table, tr, td, th {
  border-collapse:collapse;
  border: 4px solid black;
  padding: 4px;
  font-size:17px;
}